# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# Please write our copyright if you use this file.
# 춸 2023 Floorp Projects & Contributors

#! SELF HOST DOES NOT SUPPORTED
#TODO: separate Publish to other workflow

on:
  workflow_call:
    inputs:
      x86_64_artifact_name:
        type: string
        default: ""
      aarch64_artifact_name:
        type: string
        default: ""
      MOZ_BUILD_DATE:
        type: string
        default: ""
    secrets:
        APPLE_DEVELOPER_P12_BASE64:
            description: "macOS CERTIFICATES P12 For App BASE64"
            required: true
        APPLE_DEVELOPER_P12_PASSWORD:
            description: "macOS CERTIFICATES P12 PASSWORD"
            required: true
        APPLE_DEVELOPER_ID:
            description: "macOS AppleDeveloperId"
            required: true
        APPLE_DEVELOPER_ACCOUNT_EMAIL:
            description: "macOS AppleAccountId"
            required: true
        APPLE_DEVELOPER_TEAM_ID:
            description: "macOS AppleTeamId"
            required: true
        APPLE_DEVELOPER_ACCOUNT_APP_SPESIFIC_PASSWORD:
            description: "macOS AppleAccountAppSpecificPassword"
            required: true

jobs:
  Integration:
    runs-on: macos-latest
    steps:
        - name: Clone 游닌
          uses: actions/checkout@v4
          with:
            submodules: 'recursive'

        - name: download AArch64 build artifact 游닌
          uses: actions/download-artifact@v4
          with:
            name: ${{ inputs.aarch64_artifact_name }}
            path: ./

        - name: download x86_64 build artifact 游닌
          uses: actions/download-artifact@v4
          with:
            name: ${{ inputs.x86_64_artifact_name }}
            path: ./

        - name: Extract 游닍
          run: |
            brew install gnu-tar
            export PATH=/usr/local/opt/gnu-tar/libexec/gnubin:$PATH
            tar -xf ./floorp-x86_64-apple-darwin-with-pgo.tar.gz
            tar -xf ./floorp-aarch64-apple-darwin-with-pgo.tar.gz

        - uses: actions/setup-python@v5
          with:
            python-version: '3.11'

        - name: Create environment 游
          shell: bash
          run: |
            ./mach --no-interactive bootstrap --application-choice browser
            echo -e "ac_add_options --enable-bootstrap" >> mozconfig
            ./mach configure

        - name: Extract .app from dmg 游닍
          run: |
            rm -rf "./obj-x86_64-apple-darwin/dist/floorp/*.app"
            rm -rf "./obj-aarch64-apple-darwin/dist/floorp/*.app"

            hdiutil attach ./obj-x86_64-apple-darwin/dist/floorp*.mac.dmg
            cp -r "/Volumes/Floorp/Floorp.app" ./obj-x86_64-apple-darwin/dist/floorp/

            hdiutil detach /Volumes/Floorp/

            hdiutil attach ./obj-aarch64-apple-darwin/dist/floorp*.mac.dmg
            cp -r "/Volumes/Floorp/Floorp.app" ./obj-aarch64-apple-darwin/dist/floorp/

            hdiutil detach /Volumes/Floorp/

        - name: Integration 游듺
          run: |
            ./mach python "./toolkit/mozapps/installer/unify.py" "./obj-x86_64-apple-darwin/dist/floorp/Floorp.app" "./obj-aarch64-apple-darwin/dist/floorp/Floorp.app"

        - name: Create DMG 游닍
          run: |
            ./mach python -m mozbuild.action.make_dmg ./obj-x86_64-apple-darwin/dist/floorp floorp-macOS-universal.dmg
            mkdir -p ./output
            mv ./floorp-macOS-universal.dmg ./output/floorp-macOS-universal.dmg

        - name: Publish 游꾸
          uses: actions/upload-artifact@v4
          with:
            name: macOS-universal-integrated-signed-dmg
            if-no-files-found: ignore
            path: |
              ./output/
